<div class="row border-bottom" ng-controller="MainCtrl as mnctr">
	<nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0">
		<div class="navbar-header">
			<span minimaliza-sidebar></span>
			<form role="search" class="navbar-form-custom" method="post" action="">
				<div class="form-group">
					<!-- <input type="text" placeholder="Busque alguma coisa..." class="form-control" name="top-search" id="top-search"> -->
				</div>
			</form>
		</div>
		<ul class="nav navbar-top-links navbar-right">
			<li uib-dropdown>
				<a class="count-info" href uib-dropdown-toggle>
					<i class="fa fa-bell"></i> <span class="label label-primary">1</span>
				</a>
				<ul class="dropdown-alerts" uib-dropdown-menu>
					<li>
						<a ui-sref="inbox">
							<div>
								<i class="fa fa-envelope fa-fw"></i> Naruto chamou para jogar
								<span class="pull-right text-muted small">4 minutos atras</span>
							</div>
						</a>
					</li>
					<li class="divider"></li>
					
				
				
					<li>
						<div class="text-center link-block">
							<a ui-sref="home.portal">
								<strong>Ver todas as notificações</strong>
								<i class="fa fa-angle-right"></i>
							</a>
						</div>
					</li>
				</ul>
			</li>
		</ul>
	</nav>
</div>
